In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./imdb_extracted_files/name.basics.tsv/data.tsv', sep = '\t')
df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0045537,tt0050419,tt0053137,tt0072308"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0075213,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0056404,tt0057345,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0060827,tt0050976"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12410617 entries, 0 to 12410616
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             object
 1   primaryName        object
 2   birthYear          object
 3   deathYear          object
 4   primaryProfession  object
 5   knownForTitles     object
dtypes: object(6)
memory usage: 568.1+ MB

In [5]:
max(df['nconst'].str.len())

10

In [6]:
max(df['primaryName'].str.len())

105.0

In [7]:
max(df['birthYear'].str.len())

4

In [8]:
max(df['deathYear'].str.len())

4

In [9]:
max(df['primaryProfession'].str.len())

66.0

In [10]:
max(df['knownForTitles'].str.len())

64

In [2]:
df.to_csv('./imdb_CSVs/Names_Basic_Pandas.csv', index=False, sep=',')