In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./imdb_extracted_files/title.basics.tsv/data - Copy.tsv', sep = '\t')
df.head()

C:\Users\mairi\AppData\Local\Temp\ipykernel_38904\2401871860.py:4: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./imdb_extracted_files/title.basics.tsv/data - Copy.tsv', sep = '\t')

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9737930 entries, 0 to 9737929
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 668.7+ MB

In [4]:
max(df['tconst'].str.len())

10

In [5]:
max(df['titleType'].str.len())

12

In [6]:
max(df['primaryTitle'].str.len())

419.0

In [7]:
max(df['originalTitle'].str.len())

419.0

In [9]:
max(df['startYear'].str.len())

4

In [10]:
max(df['endYear'].str.len())

4

In [11]:
max(df['runtimeMinutes'].str.len())

23

In [12]:
max(df['genres'].str.len())

32.0

In [14]:
df.to_csv('./imdb_CSVs/Titles_Basic_Pandas.csv', index=False, sep=',')