In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./imdb_extracted_files/title.ratings.tsv/data.tsv', sep = '\t')
df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1966
1  tt0000002            5.8       263
2  tt0000003            6.5      1804
3  tt0000004            5.6       179
4  tt0000005            6.2      2604

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1295778 entries, 0 to 1295777
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1295778 non-null  object
 1   averageRating  1295778 non-null  float64
 2   numVotes       1295778 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.7+ MB

In [3]:
max(df['tconst'].str.len())

10

In [4]:
max(df['averageRating'])

10.0

In [8]:
max(df['numVotes'])

2720905

In [9]:
df.to_csv('./imdb_CSVs/Title_Ratings_Pandas.csv', index=False, sep=',')