In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./imdb_extracted_files/title.principals.tsv/data.tsv', sep = '\t')
df.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Self""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55413272 entries, 0 to 55413271
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   tconst      object
 1   ordering    int64
 2   nconst      object
 3   category    object
 4   job         object
 5   characters  object
dtypes: int64(1), object(5)
memory usage: 2.5+ GB

In [3]:
max(df['tconst'].str.len())

10

In [9]:
max(df['ordering'])

10

In [10]:
max(df['nconst'].str.len())

10

In [11]:
max(df['category'].str.len())

19

In [12]:
max(df['job'].str.len())

286

In [13]:
max(df['characters'].str.len())

1308

In [15]:
df.to_csv('./imdb_CSVs/Title_Principals_Pandas.csv', index=False, sep=',')