In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('./imdb_extracted_files/title.crew.tsv/data.tsv', sep = '\t')
df

            tconst            directors                        writers
0        tt0000001            nm0005690                             \N
1        tt0000002            nm0721526                             \N
2        tt0000003            nm0721526                             \N
3        tt0000004            nm0721526                             \N
4        tt0000005            nm0005690                             \N
...            ...                  ...                            ...
9737925  tt9916848  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
9737926  tt9916850  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
9737927  tt9916852  nm5519454,nm5519375  nm6182221,nm1628284,nm2921377
9737928  tt9916856           nm10538645                      nm6951431
9737929  tt9916880            nm0996406            nm1482639,nm2586970

[9737930 rows x 3 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9737930 entries, 0 to 9737929
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   tconst     object
 1   directors  object
 2   writers    object
dtypes: object(3)
memory usage: 222.9+ MB

In [3]:
max(df['tconst'].str.len())

10

In [4]:
max(df['directors'].str.len())

4987

In [11]:
print(df[df.directors.str.len() == 4987])

           tconst                                          directors  \
423361  tt0441074  nm0417370,nm0361540,nm3874442,nm0344761,nm1337...

                                                  writers
423361  nm0305030,nm9751955,nm1000470,nm0105536,nm1761...

In [3]:
max(df['writers'])

'nm9993713,nm3125335'

In [10]:
print(df[df.writers.str.len() == 13445])

           tconst                                          directors  \
423361  tt0441074  nm0417370,nm0361540,nm3874442,nm0344761,nm1337...

                                                  writers
423361  nm0305030,nm9751955,nm1000470,nm0105536,nm1761...

In [4]:
max(df['writers'].str.len())

13445

In [11]:
df.to_csv('./imdb_CSVs/Title_Crew_Pandas.csv', index=False, sep=',')